#
# CONFIGURADO POR MARCUS GABRIEL
# 20/05/2024 - LEOPOLDINA - MG
#

RewriteEngine on
Options +FollowSymLinks +SymLinksIfOwnerMatch

# OCULTA EXTENÇÃO .PHP
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# FORÇA HTTPS
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

php_flag display_errors on
php_value error_reporting -1

# Configurações CORS
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
Header always set Access-Control-Allow-Headers "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range"
Header always set Access-Control-Expose-Headers "Content-Length,Content-Range"

# Responder com 200 para requisições OPTIONS
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]


<Files config.json>
    order allow,deny
    deny from all
</Files>